@{
    ViewData["Title"] = "Home Page";
}
<div class="text-end">

    <a asp-action="Cadastrar" class="btn bg-primary">Cadastrar</a>

</div>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UsuarioModel item in @ViewBag.usuario){
                <tr>
                    <th scope="row">@item.IdUsuario</th>
                    <td>@item.NomeCompleto</td>
                    <td>@item.CpfUsuario</td>
                    <td>
                        <a asp-route-id="@item.IdUsuario" asp-action="Deletar" class="btn btn-danger ">Apagar</a>
                        <a asp-route-id="@item.IdUsuario" asp-action="Editar" class="btn btn-warning ">Editar</a>
                        
                    </td>
                </tr>


            } 
        </tbody>
    </table>
</div>
